body {
    background-color: #161e2d;
    color: #e4e7ea;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: table;
}

#loginBlock {
    position: relative;
    top: 150px;
    display: block;
    text-align: center;
}

.input-custom {
    border-radius: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    background-color: #1D2124;
    background: transparent;
    border: 1px solid #e4e7ea;
    border-top-color: rgb(68, 73, 81);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(68, 73, 81);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(68, 73, 81);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(68, 73, 81);
    border-left-style: solid;
    border-left-width: 1px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    width: 20%;
    height: 40px;
    color: #919499;
}

#register-button {
    display: inline-block;
    border-radius: 10px;
    background-color: rgb(63, 81, 181);
    height: 60px;
    width: 200px;
    border: 0;
}

#title {
    color: rgb(63, 81, 181);
}