.left {
    top: 30px;
    float: left;
}

.right {
    float: right;
}

textarea {
    border: 1px grey solid;
    border-radius: 5px;
    width: 80%;
    height: 150px;
    padding: 5px;
}


input[type=text] {
    border: 1px grey solid;
    border-radius: 5px;
    width: 80%;
    height: 35px;
    padding: 5px;
    margin-bottom: 5px;
}

input[type=submit] {
    font-family: 'Roboto-bold';
    font-size: 0.9em;
    color: white;
    font-weight: bold;
    width: 35%;
    height: 35px;
    border: 1px #212529 solid;
    background: #212529;
    background-color: #212529;
}

input[type=submit]:hover {
    border: 1px #fed136 solid;
    background: #fed136;
    background-color: #fed136;
    transition: all .5s;
}

.dataComment {
    font-size: 0.6em;
}

.comment {
    background-color: #e9e8e8;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.signal {
    font-style: italic;
    color: gray;
}

.signal:hover {
    color: #e43e3e;
}

.signalp {
    font-size: 0.7em;
    margin: 0;
}

.imageJF {
    width: 100%;
}

/*LOGIN*/

.login-one-form {
    transform: translate(-50%, -50%);
    top: 50%;
    max-width: 350px;
    width: 350px;
    left: 50%;
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    position: absolute;
    box-shadow: 3px 3px 30px rgba(0,0,0,0.2);
}

.login-one {
    min-height: 100%;
    height: 1000px;
    background-size: cover;
}

.login-one-ico {
    padding: 30px;
    font-size: 50px;
    text-align: center;
}

.form-group {
    text-align: center;
}

#input {
    margin: 10px;
    width: 100%;
}

#button {
    width: 100%;
    margin: 10px;
}

#heading {
    padding-bottom: 10px;
}



@media screen and (max-width: 800px){
    .left {
        top: 0;
        float: none;
    }

    img {
        width: 100% !important;
        height: auto !important;
    }
}