.left {
    width: 50%;
    top: 130px;
    float: left;
}

.right {
    float: right;
}

textarea {
    border: 1px grey solid;
    border-radius: 5px;
    width: 80%;
    height: 150px;
    padding: 5px;
}


input[type=text] {
    border: 1px grey solid;
    border-radius: 5px;
    width: 80%;
    height: 35px;
    padding: 5px;
    margin-bottom: 5px;
}

input[type=submit] {
    font-family: 'Roboto-bold';
    font-size: 0.9em;
    color: white;
    font-weight: bold;
    width: 35%;
    height: 35px;
    border: 1px #212529 solid;
    background: #212529;
    background-color: #212529;
}

input[type=submit]:hover {
    border: 1px #fed136 solid;
    background: #fed136;
    background-color: #fed136;
    transition: all .5s;
}

.dataComment {
    font-size: 0.6em;
}

.comment {
    background-color: #e9e8e8;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.signal {
    font-style: italic;
    color: gray;
}

.signal:hover {
    color: #e43e3e;
}

.signalp {
    font-size: 0.7em;
    margin: 0;
}